.card-list {
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;

}


/* width */
::-webkit-scrollbar {
  width: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: cadetblue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(69, 109, 110);
}

/* autocomplete */
.ng-autocomplete {
  width: 100% !important;
  border: none !important;
}

.autocomplete-container {
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, .2) !important;
  border-radius: 0.3rem !important;
}

.close {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.detail {
  border-radius: 10px;
  background-color: #f8f9fa;
}