
<div class="container-fluid">
    <div class="row">
        <!-- eto le component -->
        <div class="card mb-3" *ngFor="let t of tab">
            <div class="card-body shadow">
                <div class="row">
                    <div class="col-3">
                        <div style="background-image: url('../../assets/bg1.jpg');" class="photo shadow-lg"></div>
                        
                    </div>
                    <div class="col-6 middle text-center">
                        <h4>Hamburger</h4>
                        <div class="input-group mb-3 text-center" style="justify-content: center;">
                            <input type="number" class="number shadow my-3">
                        </div>
                    </div>
                    <div class="col-3 h-100">
                        <div class="right d-inline">
                            <button class="btn btn-primary close">X</button>
                            <p class="my-3">Ar 3000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <button type="button" class="btn btn-primary">Commander</button>
        </div>
        
    </div>
</div>
