<div class="card mb-3 shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div style="background-image: url('../../assets/bg1.jpg');" class="photo shadow-lg"></div>
                
            </div>
            <div class="col-6 middle text-center">
                <h4>Hamburger</h4>
                <p class="prix">Ar 3333.66</p>
            </div>
            <div class="col-3 h-100">
                <button class="btn btn-primary right">panniers</button>
            </div>
        </div>
    </div>
</div>