<div class="card mb-3 shadow" [ngClass]="mini?'text-mini':''">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div [ngClass]="mini?'image-mini':''" style="background-image: url('../../assets/bg1.jpg');"
                    class="photo shadow-lg"></div>
                <div class="mt-2">
                    <p>{{commande.utilisateur.nom}}</p>
                </div>
            </div>
            <div class="col-6 middle text-center">
                <p>{{commande.plats.length}}</p>
                <p>{{commande.lieu}}</p>
                <p class="prix">{{commande.dateLivraison | date: "medium" }}</p>

            </div>
            <div class="col-3 h-100">
                <button class="btn btn-primary right" (click)="addNewItem()">{{label}}</button>
            </div>
        </div>
        <div class="row" [ngClass]="open?'open':'close'">
            <ul class="list-group text-center">
                <li class="list-group-item" *ngFor="let p of commande.plats">{{ p.plat.nom }} ({{p.nb}})</li>
            </ul>
        </div>
        <p class="text-center"><img [src]="open?'../../../assets/up.png':'../../../assets/down.png'" width="30px"
                [ngClass]="mini?'down-mini':''" class="down" (click)="open=!open"></p>
    </div>
</div>