<div class="card mb-3 shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div style="background-image: url('../../assets/bg1.jpg');" class="photo shadow-lg"></div>
                <div class="mt-2">
                    <p>Jahnhah Craven</p>
                </div>
            </div>
            <div class="col-6 middle text-center">
                <h4>7 commandes</h4>
                <p>Ambohidratrimo</p>
                <small class="prix">2022-04-01 12:00</small>
                <p>:)</p>
            </div>
            <div class="col-3 h-100">
                <button class="btn btn-primary right">Livrer</button>
            </div>
        </div>
    </div>
</div>