.photo{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-size: 150px;
}
p{
    font-family: cursive;
}

.left{
    float: left;
}
.right{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prix{
    color: rgb(117, 117, 117);
    
}