<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarTogglerDemo01">
        <a class="navbar-brand my-1" href="#"><img src="../../assets/logo.png" class="my-2 logo" width="50px"></a>
        <ul class="navbar-nav my-1 mb-lg-0  me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Commandes</a>
          </li>
        </ul>
        
        <img src="../../assets/bg1.jpg" class="photo my-1">
      </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-6 mb-4">
            <div class="card shadow">
                <div class="card-body">
                    <h1>Graph</h1>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1>Graph</h1>
                </div>
            </div>
        </div>  
    </div>
    <div class="row mt-3">
        <app-commandes *ngFor="let c of tab"></app-commandes>
    </div>
</div>