
.card{
    border: none !important;
}

.btn-primary{
    background-color: cadetblue !important;
    border: cadetblue!important;
}

.btn-primary:focus{
    background-color: cornflowerblue !important;
    border: cornflowerblue!important;
    outline:cadetblue!important;
}
.primary{
    color: cadetblue;
}
p,h1,h2,h3,h4,.btn,label,li{
    font-family: cursive!important;
}
.card{
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 0.01rem 0.1rem rgb(0 0 0 / 15%) !important;
    background-color: #f8f9fa!important;
}


@keyframes logo_anim {
    
    0%{
        transform:translate(-50%,10px)
    }
    50%{
        transform: translate(-50%,-10px);
    }
    100%{
        transform: translate(-50%,10px);
    }
}
